@inherits LayoutComponentBase

<div class="page">
    <NavMenu />

    <main class="d-flex flex-row container w-100">
        <Sidebar />
        <article class="content px-4 d-flex flex-column w-100">
            @Body
        </article>
    </main>
</div>
